<div class="menu-nav">
    <!--面包屑导航开始-->
      <span>当前位置 : </span>
      <a href="javascript:;">首页</a> &raquo;
      <a href="javascript:;">国际新闻</a> &raquo;
      <a href="javascript:;">亚太地区</a>
    <!--面包屑导航结束-->
</div>

<div class="main-right">
    <!--右边主体开始-->
    <table class="layui-table" lay-size="sm" lay-even>
        <thead>
        <tr>
            <th>昵称</th>
            <th>加入时间</th>
            <th>签名</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>贤心</td>
            <td>2016-11-29</td>
            <td>人生就像是一场修行</td>
        </tr>
        <tr>
            <td>许闲心</td>
            <td>2016-11-28</td>
            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
        </tr>
        </tbody>
    </table>
    <!--分页开始-->
    <div class="page_nav clearfix">
        <div class="left"></div>
        <div class="right"></div>
    </div>
    <!--分页结束-->

    <!--右边主体结束-->
</div>
